<div class="form-body">
  <h1 class="text-1">Welcome to Our Health Care App!</h1>
  <h2 class="text-1">Please log in..</h2>
  <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <div class="s3"></div>
    <div class="s3">
      <div class="form-group">
          First Name:
          <input
            class="firstname"
            type="text"
            nbInput
            fullWidth  
            formControlName="firtName" 
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}"  
            placeholder="First Name"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
      </div>
      
      Last Name:
      <input
        class="lastname"
        type="text"
        nbInput
        fullWidth          
        placeholder="Last Name"
      />
      Email address:
      <input
        class="email"
        type="text"
        nbInput
        fullWidth          
        placeholder="Email address"
      />
      User Name:
      <input
        class="username"
        type="text"
        nbInput
        fullWidth         
        placeholder="User Name"
      />
      Password:
      <input
        class="password"
        type="password"
        nbInput
        fullWidth          
        placeholder="Password"
      />

      <button class="form-submit" nbButton fullWidth status="success">
        Register
      </button>
    </div>
    <div class="s3"></div>
    </div>
    </form>
</div>

