<div class="form-group">
  <label for="login-password">Password:</label>
  <input
    required
    minlength="4"
    maxlength="10"
    ngModel
    name="password"
    #password="ngModel"
    type="password"
    id="login-password"
    nbInput
    fullWidth
    fieldSize="medium"
    placeholder="Password"
  />
  <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
    <div *ngIf="password.errors.required">Password is Invalid!</div>
    <div *ngIf="password.errors.minlength">
      Password should at least be 4 characters long!
    </div>
  </div>
</div>
