.form-body {
  margin: 20px;
}

.text-1 {
  text-align: center;
}

.form-container {
  display: flex;
  flex-flow: row;
}

.username,
.password,
.email,
.firstname,
.lastname {
  margin-top: 3px;
  margin-bottom: 10px;
}

.form-submit {
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-flow: row;
}

.username,
.password,
.email,
.firstname,
.lastname {
  margin-top: 3px;
  margin-bottom: 10px;
}

.form-submit {
  margin-top: 20px;
}