<!--
  <div class="form-body">
    <h1 class="text-center">Welcome to Our Health Care App!</h1>
    <h2 class="text-center">Please log in..</h2>
    <div class="form-container">
      <div class="s3"></div>
      <div class="s3">
        <app-username></app-username>
        <app-password></app-password>
        <a
          routerLink="/admin"
          class="form-submit"
          nbButton
          fullWidth
          status="success"
        >
          LOG IN
        </a>
      </div>
      <div class="s3"></div>
    </div>
  </div>
-->

<div class="form-body">
  <h1 class="text-center">Welcome to Our Health Care App!</h1>
  <h2 class="text-center">Please log in..</h2>
  <div class="form-container">
    <div class="s3"></div>
    <form class="s3">
      <app-username></app-username>
      <app-password></app-password>
      <button
        routerLink="/admin"
        class="form-submit"
        nbButton
        fullWidth
        status="success"
      >
        LOG IN
      </button>
    </form>
    <div class="s3"></div>
  </div>
</div>
