<div class="form-body">
  <h1 class="text-1">Welcome to Our Health Care App!</h1>
  <h2 class="text-1">Please log in..</h2>
  <div class="form-container">
    <div class="s3"></div>
    <div class="s3">
      Username:
      <input
        class="username"
        type="text"
        nbInput
        fullWidth
        fieldSize="medium"
        placeholder="Username"
      />
      Password:
      <input
        class="password"
        type="password"
        nbInput
        fullWidth
        fieldSize="medium"
        placeholder="Password"
      />
      <!-- change this button to link to AUTH -->
      <a
        routerLink="/admin"
        class="form-submit"
        nbButton
        fullWidth
        status="success"
      >
        LOG IN
      </a>
      <!-- change this button to link to AUTH -->
    </div>
    <div class="s3"></div>
  </div>
</div>
