.form-body {
  margin: 20px;
}

.form-container {
  display: flex;
  flex-flow: row;
}

.form-submit {
  margin-top: 20px;
}

.invalid-feedback {
  color: #ff386a;
}

.alert-danger {
  margin-bottom: 10px !important;
}
