<div class="form-body"> 
  <form [formGroup]="medicalRecordForm" (ngSubmit)="onSubmit()">
      <div class="form-container">
        <div class="s3"></div>
          <div class="s3">
    
              <div class="form-group">
                <label for="patientname">Patient Name:</label>
                <input
                  required
                  class="name"
                  minlength="4"
                  maxlength="254"
                  type="text"
                  nbInput
                  fullWidth
                  formControlName="name"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  placeholder="Patient Name"
                />
                <div *ngIf="submitted && f.name.errors" class="alert alert-danger">
                  <div *ngIf="f.name.errors.required">
                    Patient Name is required
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="sex">Sex:</label>           
                <nb-radio-group formControlName="sex" 
                [ngClass]="{ 'is-invalid': submitted && f.sex.errors }">
                    <nb-radio                     
                      *ngFor="let sex of sexes"
                      [value]="sex.value">
                      {{ sex.label }}
                    </nb-radio>
                  </nb-radio-group>
                  <div *ngIf="submitted && f.sex.errors" class="alert alert-danger">
                    <div *ngIf="f.name.sex.required">
                      Choose a gender
                    </div>
                  </div>
              </div>


              <div class="form-group">
                  <label for="birthday">Birthday:</label>           
                  <input 
                  required
                  fullWidth
                  nbInput 
                  placeholder="Birthday"
                  [nbDatepicker]="formpicker"
                  formControlName="birthday"
                  [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }"
                  >
                  <nb-datepicker  #formpicker ></nb-datepicker >
                  <div *ngIf="submitted && f.birthday.errors" class="alert alert-danger">
                    <div *ngIf="f.name.birthday.required">
                      Birthday is required
                    </div>
                  </div>
              </div>

              <div class="form-group">
                  <label for="admissionDate">Admission Date:</label>           
                  <input 
                  required
                  fullWidth
                  nbInput 
                  placeholder="Admission Date"
                  [nbDatepicker]="formpicker2"
                  formControlName="admissionDate"
                  [ngClass]="{ 'is-invalid': submitted && f.admissionDate.errors }"               
                  >
                  <nb-datepicker  #formpicker2  ></nb-datepicker >
                  <div *ngIf="submitted && f.admissionDate.errors" class="alert alert-danger">
                    <div *ngIf="f.name.admissionDate.required">
                      Admission Date is required
                    </div>
                  </div>
              </div>

              <div class="form-group">
                  <label for="dischargeDate">Discharge Date:</label>           
                  <input 
                  required
                  fullWidth
                  nbInput 
                  placeholder="Discharge Date"
                  [nbDatepicker]="formpicker3"
                  formControlName="dischargeDate"
                  [ngClass]="{ 'is-invalid': submitted && f.dischargeDate.errors }"                
                  >

                  <nb-datepicker  #formpicker3></nb-datepicker >
                  <div *ngIf="submitted && f.dischargeDate.errors" class="alert alert-danger">
                    <div *ngIf="f.name.dischargeDate.required">
                      Discharge Date is required
                    </div>
                  </div>
              </div>
              <!-- <div *ngFor="let Disease of Diseases"> -->
                <div class="form-group">
                    <label for="diseases">Diseases:</label>                    
                      <nb-select mutiple placeholder="..."
                      formControlName="diseaseModels">  

                      <nb-option  *ngFor= "let disease of diseaseModels"
                        value="{{disease.diseaseName}}"
                        >{{disease.diseaseName}}</nb-option>   

                    </nb-select>   
                    
                    <button nbButton status="info" (click)="addDisease()">Add</button>
                    <!-- <label formControlName="Medicines">{{selectedDisease}} </label>  -->

                </div>
             <!-- </div> -->
              
              <!-- <div class="form-group">
                  <label for="diseases">Medicines:</label>                    
                  <input 
                  nbInput 
                  type="text"
                  fullWidth
                  placeholder=""
                  
                  >  

              </div> -->

          
              <div class="form-group">
                  <label for="totalBill">Total Bill:</label>       
                  <input                   
                  nbInput 
                  min="0"
                  type="number"
                  fullWidth
                  placeholder="Total Bill"
                  formControlName="totalBill"
                  >
                  <button nbButton status="info" (click)="computeTotalBill()">Compute</button>    
              </div>

              <div class="form-group">
                  <button class="form-submit" nbButton fullWidth status="success">
                    Register
                  </button>
              </div>

          </div>           
        <div class="s3"></div>
      </div>
    </form>
</div> 
