<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body *ngIf="type == 1">
    This is for the Medical Record
  </nb-card-body>
  <nb-card-body *ngIf="type == 2">
      This is for the Diseases
  </nb-card-body>
  <nb-card-body *ngIf="type == 3">
      This is for the Medicines
  </nb-card-body>
  <nb-card-body *ngIf="type == 4">
      This is for the Doctors
  </nb-card-body>
  <nb-card-body *ngIf="type == 5">
      This is for the Admins
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="primary" (click)="dismiss()">Dismiss Dialog</button>
  </nb-card-footer>
</nb-card>
