<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body *ngIf="type == 1">
    This is for the Medical Record
  </nb-card-body>
  <nb-card-body *ngIf="type == 2">
    <app-register-disease></app-register-disease>
  </nb-card-body>
  <nb-card-body *ngIf="type == 3">
    <app-register-medicine></app-register-medicine>
  </nb-card-body>
  <nb-card-body *ngIf="type == 4">
    <app-register-doctor></app-register-doctor>
  </nb-card-body>
  <nb-card-body *ngIf="type == 5">
    <app-register-admin></app-register-admin>
  </nb-card-body>
  <nb-card-body *ngIf="type == 6">
    <app-update-doctor></app-update-doctor>
  </nb-card-body>
  <nb-card-body *ngIf="type == 7">
    <app-update-medicine></app-update-medicine>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="primary" (click)="dismiss()">
      Dismiss Dialog
    </button>
  </nb-card-footer>
</nb-card>
