<div class="form-body">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div class="s3"></div>
      <div class="s4">
        <div class="form-group">
          <label for="medicineName">Medicine Name:</label>
          <input
            type="text"
            nbInput
            fullWidth
            formControlName="medicineName"
            [ngClass]="{
              'is-invalid': submitted && f.medicineName.errors,
              medicineName: true
            }"
            placeholder="Medicine Name"
          />
          <div
            *ngIf="submitted && f.medicineName.errors"
            class="alert alert-danger"
          >
            <div *ngIf="f.medicineName.errors.required">
              Medicine Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input
            type="number"
            step="0.01"
            formControlName="price"
            nbInput
            fullWidth
            [ngClass]="{
              'is-invalid': submitted && f.price.errors,
              price: true
            }"
            placeholder="Price"
          />
          <div *ngIf="submitted && f.price.errors" class="alert alert-danger">
            <div *ngIf="f.price.errors.required">Price is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="form-submit" nbButton fullWidth status="success">
            Register
          </button>
        </div>
      </div>
      <div class="s3"></div>
    </div>
  </form>
</div>
