@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

.s1 {
  flex: 1 !important;
}
.s2 {
  flex: 2 !important;
}
.s3 {
  flex: 3 !important;
}
.s4 {
  flex: 4 !important;
}
.s5 {
  flex: 5 !important;
}
.s6 {
  flex: 6 !important;
}
.s7 {
  flex: 7 !important;
}
.s8 {
  flex: 8 !important;
}